<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/bundles/estilos")
</head>
<body>
    @Html.Partial("_MenuSuperior")
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span3">
                <!-- menu -->
                @Html.Action("Index", "Menu")
            </div>
            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts",false)
</body>
</html>