@using LojaRazor.Internacionalizacao
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        @Html.ActionLink("Loja Razor", "Index", "Home", null, new { @class = "brand" })
        <ul class="nav">
            <li>@Html.ActionLink(Menssagens.Sobre, "About", "Home")</li>
            <li>@Html.ActionLink(Menssagens.Contato, "Contato", "Home")</li>
        </ul>
        <p class="navbar-text pull-right">
            @if (Session["usuarioLogado"] != null)
            {
                @Menssagens.BemVindo
                @Session["usuarioLogado"]
                @Html.ActionLink(Menssagens.Logout, "Logout", "Autenticacao")
            }
            else
            {
                @Menssagens.OlaVisitante
                @Html.ActionLink(Menssagens.Login, "Index", "Autenticacao")
                @Menssagens.Ou 
                @Html.ActionLink(Menssagens.CadastreSe, "Form", "Usuarios")
            }
        </p>
    </div>
</div>